<div>
    <div ng-if="task" class="todo-detail">
        <div>
            <input type="text" ng-model="task.title"/></div>
        <div>
            <textarea name="" cols="30" rows="10" ng-model="task.notes"></textarea>
        </div>
        <div>


            <!-- here we are passing in the text as an object. Should it be {item: task.notes} because thats
            what our ng-model above is getting? -->

            <!--Only if a change has been made-->
            <button ng-if="changesMade" ng-click="save(task)">Save</button>
            <button ng-if="changesMade" ng-click="cancel(task)">Cancel</button>
            <!--Only if the task is marked as complete-->
            <!--<button ng-click="onRestore({item: task})">Restore</button>-->

            <!--Display always-->
            <button ng-click="onDelete({task: task})">Delete</button>


        </div>
    </div>
    <div ng-if="!task">

        Please select a task from the list on the left.

    </div>
</div>

