<div class="todo-detail">
    <div>
        <input type="text" ng-model="task.title"/></div>
    <div>
        <textarea name="" cols="30" rows="10" ng-model="task.notes"></textarea>
    </div>
    <div>


        <!-- here we are passing in the text as an object. Should it be {item: task.notes} because thats
        what our ng-model above is getting? -->

        <!--Only if a change has been made-->
        <button ng-click="onSave({task: task})">Save</button>
        <!--Only if the task is marked as complete-->
        <!--<button ng-click="onRestore({item: task})">Restore</button>-->

        <!--Display always-->
        <!--<button ng-click="onDelete({item: task})">Delete</button>-->


    </div>
</div>
